<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    </head>
    
    <body>
    <div>
        <div>
        <h1>Home-Assistant-Robot</h1>
        </div>
        <form>
        <div>
            <input>
        </div>
        <div>
            <input>
        </div>
        <button>Sign In</button>
        <p>
            Don't have an account?<a> Sign up</a>
        </p>
        </form>
        <p>
        </p>
    </div>
    </body>
</html>